<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать расписание</title>
</head>
<body>
    <h1>Расписание</h1>
    <h2>Изменить пароль для этого расписания</h2>
    <form action="{{ url_for('edit_schedule', schedule_id=schedule.id) }}" method="post">
        <input type="text" name="password" required>
        <button type="submit">Сохранить пароль</button>
    </form>

    <h2>Кнопки расписания:</h2>
    <ul>
        {% for button in buttons %}
            <li>{{ button.when }} - {{ button.where }} - {{ button.who }}</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('home') }}" method="get">
        <button type="submit">Домой</button>
    </form>
</body>
</html>